<html>
<head>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
<div id="CheckBox">

<h1> Check Box Binding Example</h1>
        <form>
                <label> Item Name:</label>
                <input type="text"  v-model.lazy="Blog.title" required />
                <label> Description:</label>
                <textarea v-model.lazy="Blog.content"> </textarea>
                <div id="checkboxes">
                    <label> Tomatto</label>
                    <input type="checkbox" value="Tomatto" v-model="Blog.catagories"/>
                    <label> Mushroom</label>
                    <input type="checkbox" value="Mushroom" v-model="Blog.catagories"/>
                    <label> Onion</label>
                    <input type="checkbox" value="Onion" v-model="Blog.catagories"/>
                    <label> Peperoni </label>
                    <input type="checkbox" value="Peperoni" v-model="Blog.catagories"/>

                </div>
                <label> Author</label> 
                <select v-model="Blog.auther">
                    <option v-for="auther in authers">{{ auther }}</option>
                   

                </select>
                     </form>

        <div id="preview">
            <h3> Preview Blog</h3>
            <p> Blog title:  </p>
                
                <p>  {{ Blog.title }}  </p>
             
            <p> Blog content   </p>
<p>  {{  Blog.content  }}   </p>
<p> Blog catagories: </p>
<ul>
  <li v-for="catagory in Blog.catagories"> {{ catagory }}</li> -->
    <li v-for="auther in Blog.authers"> {{ auther }}</li>
</ul>
<h2> Selected options:</h2>

<p> Auther : {{ Blog.auther }} </p>
        </div>

</div>
</body>

<script>

new Vue({
    el: '#CheckBox',
    data: {
        Blog: {
            title: "",
            content: "",
            catagories: [],
            auther: ""
},
authers: ['option1', 'option2', 'option3', 'option4', 'option5']
    


      
      
          },
    methods: {


    },
    computed: {
 
    }



        })
</script>
<style>
#AddBlog *{

    box-sizing:border-box;

}
#AddBlog{

    margin: 20px auto;
    max-width: 800px;

}
label{

    display: block;
    margin: 20px 0 10px;
}
#checkboxes input{
    display: inline-block;
    margin-right: 10px;
}
#checkboxes label{
    display: inline-block;
}



</style>
</html>